body {
  font-family: sans-serif;
  background-color: #87ceeb;
}

h1 {
  text-align: center;
  font-weight: bold;
}

#result,
  .ruby,
  .c,
  .js,
  .python,
  .swift,
  .html {
  display: none;
}

.jumbotron {
  background-color: darkturquoise;
}